.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    width: 528px;
    height: 581px;
    background-color: var(--primery-background-color);  
}

@media screen and (max-width: 1199px) {
    .modal {
      width: 450px;
      height: 609px;
    }
  }
  
  
 