:root {
    --primery-text-color: #757575;  
    --title-text-color: #212121; 
    --hero-title-text-color: #FFFFFF; 
    --accent-color: #2196F3;
    --primery-background-color: #FFFFFF; 
    --secondary-background-color: #2F303A;
    --icon-color: #AFB1B8;
}



